body{
  background:aqua;
}
button{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border-color: red;
  transition: all 0.5s linear;
}
button:hover{
  width: 100px;
  color: aqua;
  background:black;
  border: none;
  transform: rotate(360deg);
  border-radius: 10px;
}