.boxer {
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100%;
}
.content1 {
  width: 240px;
  /* border: 1px solid; */
  border-right:2px solid #d8d7d7;
  border-radius: 10px;
}
