.input {
  display: flex;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 40px;
  width: 430px;
  align-items: center;
  height: 35px;
  /* justify-content: center;/ */
}
.input:hover {
  cursor: text;
}
.input2 {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 5px;
  /* justify-content: center; */
  width: 320px;
  margin-top: 20px;
  margin-left: 50px;
  height: 35px;
}
.input2:hover {
  cursor: text;
}
.obshiy-input {
  display: flex;
}
.navbar {
  display: flex;
  border-bottom: 2px solid #d8d7d7;
  padding-bottom: 20px;
  border-radius: 10px;
}
.search {
  width: 15.75px;
  height: 15.75px;
  left: 2px;
  top: 2px;
  margin: 5px 15px;
  color: rgba(161, 161, 161, 0.4);
}
.a {
  width: 20px;
  height: 20px;
  margin-right: 45px;
  transition: all 0.3s linear;
  /* border: 1px solid red; */
}
.a:hover {
  cursor: pointer;
  transform: rotate(360deg);
  border-bottom: 4px solid rgb(0, 255, 21);
}
.odam {
  transition: all 0.3s linear;
}
.odam:hover {
  cursor: pointer;
  transform: rotate(360deg);
  border-bottom: 4px solid rgb(0, 255, 21);
}
.iconsintheright {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: 85px;
}
.car-word{
  margin: 5px 15px;
}
.past{
  margin-left:190px;
}