.rasm-first {
  margin-top: 30px;
  margin-left: 40px;
}
h1 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #838383;
}
.for-img {
  display: flex;
  margin-top: 12px;
  margin-left: 40px;
  align-items: center;
  /* justify-content: center; */
}
.rasm {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.menu-word {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3629b7;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-bottom: 18px;
}
.races {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin-top: 90px;
  margin-left: 40px;
  color: #3629b7;
}
.kolso {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin-right: 10px;
  color: #838383;
}
.circle {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 40px;
}
.rasm1 {
  margin-right: 10px;
  width: 13px;
  height: 13px;
}
